.codeView {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px 10px;

    ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;

        li {
            color: #cbcbcb;
        }
    }

    .code {
        padding-left: 20px;
        white-space: break-spaces;
    }
}
